@page
@model Spoonful.Pages.Admin.DeliveryManagement.IndexModel
@{
}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
@Html.AntiForgeryToken()

<button id="createRoutes" class="blue-btn-full">Create Routes</button>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2XNaPPSnBj0i6cUEE4bk4c6KdU7tA4kU&callback=initMap">
</script>
<script src="/js/Routing.js"></script>