@page
@model Spoonful.Pages.user.MealKitSubscription.MealPlanFormModel
@{
}
<!-- SPECIFIC CSS -->
<link href="~/css/order-sign_up.css" rel="stylesheet">
<link href="~/css/detail-page.css" rel="stylesheet">

<main class="bg_gray">

	<div class="container margin_60_20">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<div class="box_order_form">
					<div class="head">
						<div class="title">
							<h3>Personalise your plan</h3>
						</div>
					</div>
					<!-- /head -->
					<div class="main">
						<div class="form-group">
							<label>First and Last Name</label>
							<input class="form-control" placeholder="First and Last Name">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Email Address</label>
									<input class="form-control" placeholder="Email Address">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Phone</label>
									<input class="form-control" placeholder="Phone">
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
			<!-- /col -->
			

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->

</main>
<!-- /main -->