@page
@using AspNetCore.ReCaptcha;
@model Spoonful.Pages.Account.ChangePasswordModel
@{
    ViewData["Page"] = "Account";
}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Account setting</h2>
        <br />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                @await Html.PartialAsync("_AccountNavBar")
                <div class="col-lg-9">
                    <section class="content-body p-xl-4">
                        <h1 class="tw-text-lg tw-mb-5"><a asp-page="/Account/Index"><i class="bi bi-arrow-left"></i></a></h1>
                        <form method="post">
                            <div class="col-lg-6 mb-3 mx-auto">
                                <div class="card bg-warning mb-3">
                                    <div class="card-body">
                                        This will require you to log in again
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Current Password</label>
                                    <input class="form-control" type="password" asp-for="@Model.OldPassword" />
                                    <span class="text-danger" asp-validation-for="OldPassword"></span>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">New Password</label>
                                    <input class="form-control" type="password" asp-for="@Model.Password" />
                                    <span class="text-danger" asp-validation-for="Password"></span>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" type="password" asp-for="@Model.ConfirmPassword" />
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                                </div>
                                <button type="submit" class="blue-btn-full m-0 mt-2">Change Password</button>
                            </div>
                        </form>

                        <!-- row.// -->
                    </section>
                    <!-- content-body .// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card body end// -->
    </div>
    <!-- card end// -->
</section>