@page
@using AspNetCore.ReCaptcha;
@model Spoonful.Pages.Account.ChangePasswordModel
@{
}

<form method="post">
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="OldPassword">Current Password</label>
        <input type="password" id="registerPassword" class="form-control" asp-for="OldPassword" />
        <span class="text-danger" asp-validation-for="OldPassword"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Password">New Password</label>
        <input type="password" id="registerPassword" class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="ConfirmPassword">Confirm New password</label>
        <input type="password" id="registerRepeatPassword" class="form-control" asp-for="ConfirmPassword" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <span class="text-danger">@Html.ValidationSummary(true)</span>
    <button type="submit" class="btn btn-primary w-100">Change Password</button>
    @Html.ReCaptcha()
</form>