@page
@model Spoonful.Pages.Account.ChangePasswordModel
@{
}
<form method="post">
    <div class="form-outline mb-4">
        <input type="password" id="currentPassword" class="form-control" asp-for="Password" />
        <label class="form-label" asp-for="Password">Current Password</label>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="newPassword" class="form-control" asp-for="NewPassword" />
        <label class="form-label" asp-for="NewPassword">New Password</label>
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="newRepeatPassword" class="form-control" asp-for="ConfirmPassword" />
        <label class="form-label" asp-for="ConfirmPassword">Repeat password</label>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <span class="text-danger">@Html.ValidationSummary(true)</span>
    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
</form>