@page
@model Spoonful.Pages.Account.ChangeEmailModel
@{
}
@{
    ViewData["Title"] = "Change Email";
    ViewData["Page"] = "Account";
}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Account setting</h2>
        <br />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                @await Html.PartialAsync("_AccountNavBar")
                <div class="col-lg-9">
                    <section class="content-body p-xl-4">
                        <h1 class="tw-text-lg tw-mb-5"><a asp-page="/Account/Index"><i class="bi bi-arrow-left"></i></a></h1>
                        <form method="post">
                            <div class="col-lg-6 mb-3 mx-auto">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" placeholder="example@mail.com" asp-for="@Model.Email" />
                                <button type="submit" class="blue-btn-full m-0 mt-2">Change Email</button>
                            </div>
                        </form>
                        
                        <!-- row.// -->
                    </section>
                    <!-- content-body .// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card body end// -->
    </div>
    <!-- card end// -->
</section>