@page
@using AspNetCore.ReCaptcha;
@model Spoonful.Pages.Account.LoginModel
@{
}
<link rel="stylesheet" href="~/css/Account.css" />
<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="login">
            <div class="signin-title">
                <span>Sign In</span>
                <p>
                    Welcome back, please login to your account. You can login with Google or by regular
                    user login.
                </p>
            </div>

            <div>
                <a href="#" class="btn-google"><i class="fa-brands fa-google"></i> Google</a>
            </div>

            <div class="or"><span>OR</span></div>

            <form method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="LModel.Username" id="floatingInput" placeholder="name@example.com" />
                    <label style="padding-left:30px;" for="floatingInput" asp-for="LModel.Username"></label>
                    <span class="text-danger" asp-validation-for="LModel.Username"></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="LModel.Password"/>
                    <label style="padding-left:30px;" for="floatingPassword" asp-for="LModel.Password"></label>
                    <span class="text-danger" asp-validation-for="LModel.Password"></span>
                </div>
                <input type="checkbox" id="signin-checkbox" asp-for="LModel.RememberMe">
                <label for="signin-checkbox" asp-for="LModel.RememberMe">Keep me signed in</label>
                <button type="submit" class="btn-signin">Sign In</button>

                <a asp-page="ForgetPassword" class="btn-reset btn-fade">
                    Recover your password <i class="fa fa-long-arrow-right"
                                             aria-hidden="true"></i>
                </a>
                <a asp-page="register" class="btn-member btn-fade">
                    Not a member yet? Sign Up now! <i class="fa fa-long-arrow-right"
                                                      aria-hidden="true"></i>
                </a>
                @Html.ReCaptcha()
            </form>
        </div>
    </div>
</div>