@page
@model Spoonful.Pages.Account.RegisterModel
@{
}
<link rel="stylesheet" href="~/css/Account.css" />
<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="signup">
            <div class="signin-title">
                <span>Sign Up</span>
                <p>Create a new account. You can sign up with your google account or manually</p>
            </div>

            <div>
                <form asp-page="./ExternalLogin" method="post">
                    <button type="submit" class="btn-google" name="provider" value="Google"><i class="fa-brands fa-google"></i> Google</button>
                </form>
            </div>

            <div class="or"><span>OR</span></div>

            <form method="post">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingFname" placeholder="First Name" asp-for="RModel.FirstName">
                    <label style="padding-left:30px;" for="floatingFname">First Name</label>
                    <span class="text-danger" asp-validation-for="RModel.FirstName"></span>

                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingLname" placeholder="Last Name" asp-for="RModel.LastName">
                    <label style="padding-left:30px;" for="floatingLname">Last Name</label>
                    <span class="text-danger" asp-validation-for="RModel.LastName"></span>

                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingUsername" placeholder="Username" asp-for="RModel.UserName">
                    <label style="padding-left:30px;" for="floatingUsername">Username</label>
                    <span class="text-danger" asp-validation-for="RModel.UserName"></span>

                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Email" asp-for="RModel.Email">
                    <label style="padding-left:30px;" for="floatingEmail">Email</label>
                    <span class="text-danger" asp-validation-for="RModel.Email"></span>

                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="RModel.Password">
                    <label style="padding-left:30px;" for="floatingPassword">Password</label>
                    <span class="text-danger" asp-validation-for="RModel.Password"></span>

                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingRPassword" placeholder="Repeat Password" asp-for="RModel.ConfirmPassword">
                    <label style="padding-left:30px;" for="floatingRPassword">Repeat Password</label>
                    <span class="text-danger" asp-validation-for="RModel.ConfirmPassword"></span>

                </div>
                <input type="checkbox" id="signin-checkbox" asp-for="RModel.Terms">
                <label for="signin-checkbox">I have read and agree to the terms</label>
                <button type="submit" class="btn-signin">Sign Up</button>
                <a asp-page="./login" class="btn-login btn-fade">
                    Already have an account, Sign In <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </form>
        </div>
    </div>
</div>