@page
@model Spoonful.Pages.Admin.IndexModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
<!-- Icon Cards-->
<div class="row">

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-envelope-open"></i>
                </div>
                <div class="mr-5">
                    <h5>26 New Messages!</h5>
                </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="messages.html">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-star"></i>
                </div>
                <div class="mr-5">
                    <h5>11 New Reviews!</h5>
                </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="reviews.html">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">
                    <h5>10 New Orders!</h5>
                </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="orders.html">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card dashboard text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-heart"></i>
                </div>
                <div class="mr-5">
                    <h5>10 New Bookmarks!</h5>
                </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="bookmarks.html">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<!-- /cards -->
<h2></h2>
<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-bar-chart"></i>Meal Kit Subscriptions</h2>
    </div>
    <canvas id="myAreaChart" width="100%" height="30" style="margin:45px 0 15px 0;"></canvas>
</div>
<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-bar-chart"></i>Meal Kit Subscriptions Revenue</h2>
    </div>
    <canvas id="myAreaChartRevenueSubscription" width="100%" height="30" style="margin:45px 0 15px 0;"></canvas>
</div>

<div class="row">
    <div class="col-lg-8">
        <!-- Example Bar Chart Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> Number of vouchers used
            </div>
            <div class="card-body">
                <canvas id="myBarChart" width="100" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Example Pie Chart Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-pie-chart"></i> Menu Preferences
            </div>
            <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>

<!-- Custom scripts for this page-->
<!--
<script src="~/js/vendor/bootstrap/js/admin-chart.js"></script>-->
<script src="~/js/vendor/bootstrap/js/admin-chart-all.js"></script>



