@page
@model Spoonful.Pages.Admin.MealKitManagement.IndexModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using Spoonful.Models
@using Spoonful.Services

@inject MealKitService _mealKitService;
@inject UserManager<CustomerUser> UserManager;



<div class="container p-3">

	<h2 class="text-primary display-6">Customer Meal Kit Management</h2>
	<br />
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
			<tr>
				<th>Name</th>
				<th>Current Plan</th>
				<th>Status</th>
				
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			

			
			@foreach (var obj in Model.MealKits)
			{
				
				<tr>

					<td>
						<div class="d-flex align-items-center">
							<img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
							 alt=""
							 style="width: 45px; height: 45px"
							 class="rounded-circle" />
							&nbsp;	&nbsp;
							<div class="ms-3">
								<p class="fw-bold mb-1">@obj.Name</p>
								<p class="text-muted mb-0">@obj.Email</p>
							</div>
						</div>
					</td>
						
						
						

						<!--
							<p class="text-muted mb-0">IT department</p>
						-->
					
					
					<td>
						<p class="text-muted mb-0">@obj.MenuPreference</p>
						
					</td>
					<td>
						@if(obj.Status == true){
							<span class="badge badge-success rounded-pill d-inline">Active</span>
						}else{
							<span class="badge badge-danger rounded-pill d-inline">Disabled</span>
						}
						
					</td>
					<td>
						<a class="btn btn-outline-primary" asp-route-id="@obj.userId" asp-page="/Admin/MealKitManagement/ViewCustomerBox" target="_blank">View Box</a>
					</td>
					

				</tr>

			}
			
		</tbody>
	</table>
</div>