@page
@model Spoonful.Pages.user.PastInvoices.IndexModel
@{
    ViewData["Page"] = "Past Invoices";
}
@using Microsoft.AspNetCore.Identity
@using Spoonful.Models
@using Spoonful.Settings
@inject UserManager<CustomerUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Account</h2>
        <br />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                @await Html.PartialAsync("_AccountNavBar")
                <div class="col-lg-9">

                    <section class="content-body p-xl-4">
                        <h1 class="tw-text-lg tw-mb-5">Past Invoices</h1>
                        
                        <div class="container p-3">  
							
							<table class="table">
                              <thead>
                                <tr>
                                  
                                  <th scope="col">Date Of Transaction</th>
                                  <th scope="col">Transaction Amount</th>
                                  <th scope="col">Action</th>
                                  <th scope="col">Download</th>
                                </tr>
                              </thead>
                              <tbody>
                                @foreach(var obj in Model.Invoices)
								{
                                <tr>
                                  
                                  <td>@obj.DateOfPayment</td>
                                  <td>$@obj.Cost</td>
                                <td>
                                    <a class="btn btn-outline-primary" asp-route-id="@obj.Id" asp-page="/user/PastInvoices/ViewInvoice" target="_blank">View Invoice</a>
                                </td>
                                <td>
                                    <form method="post">
                                        <input asp-for="@Model.InvoiceID" class="form-control" hidden value="@obj.Id">
                                        <button type="submit" class="btn btn-outline-primary"><i class="fa-regular fa-download"></i></button>
                                    </form>
                                    
                                </td>
                                </tr>
                                }
                                
                              </tbody>
                            </table>

							
						</div>

                    </section>
                    <!-- content-body .// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card body end// -->
    </div>
    <!-- card end// -->


</section>