@page
@model Spoonful.Pages.User.RegisterModel
@{
}
<div class="col-6 mx-auto">
    <form method="post">
        <div class="text-center mb-3">
            <p>Sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="bi bi-facebook"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="bi bi-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="bi bi-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="bi bi-github"></i>
            </button>
        </div>

        <p class="text-center">or:</p>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="registerFName" class="form-control" asp-for="RModel.FirstName"/>
            <label class="form-label" asp-for="RModel.FirstName"></label>
            <span class="text-danger" asp-validation-for="RModel.FirstName"></span>
        </div>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="registerLName" class="form-control" asp-for="RModel.LastName" />
            <label class="form-label" asp-for="RModel.LastName"></label>
            <span class="text-danger" asp-validation-for="RModel.LastName"></span>
        </div>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="registerUsername" class="form-control" asp-for="RModel.UserName"/>
            <label class="form-label" asp-for="RModel.UserName"></label>
            <span class="text-danger" asp-validation-for="RModel.UserName"></span>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="registerEmail" class="form-control" asp-for="RModel.Email" />
            <label class="form-label" asp-for="RModel.Email">Email</label>
            <span class="text-danger" asp-validation-for="RModel.Email"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="registerPassword" class="form-control" asp-for="RModel.Password" />
            <label class="form-label" asp-for="RModel.Password">Password</label>
            <span class="text-danger" asp-validation-for="RModel.Password"></span>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="registerRepeatPassword" class="form-control" asp-for="RModel.ConfirmPassword" />
            <label class="form-label" asp-for="RModel.ConfirmPassword">Repeat password</label>
            <span class="text-danger" asp-validation-for="RModel.ConfirmPassword"></span>
        </div>

        <span class="text-danger">@Html.ValidationSummary(true)</span>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-start mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                    aria-describedby="registerCheckHelpText" />
            <label class="form-check-label" for="registerCheck">
                I have read and agree to the terms
            </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="tw-btn-primary w-100">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already a member? <a asp-page="login">Log in</a></p>
        </div>
    </form>

</div>