.blue-btn {
    width: 7rem;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .blue-btn:hover,
    .blue-btn:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
    }

.blue-btn-10 {
    width: 11rem;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .blue-btn-10:hover,
    .blue-btn-10:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
    }

.blue-btn-25 {
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .blue-btn-25:hover,
    .blue-btn-25:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
    }

.blue-btn-full {
    width: 100%;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .blue-btn-full:hover,
    .blue-btn-full:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
    }

.green-btn-full {
    width: 100%;
    background: #07fd6e;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .green-btn-full:hover,
    .green-btn-full:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #07fd6e;
    }

.green-btn-full-confirmed {
    width: 100%;
    background: #00be10;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .green-btn-full-confirmed:hover,
    .green-btn-full-confirmed:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #00be10;
    }

.green-btn-25 {
    width: 47%;
    background: #12ff7d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .green-btn-25:hover,
    .green-btn-25:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #12ff7d;
    }

.warning-btn {
    width: 100%;
    background: #fdd626;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration:none;
}

    .warning-btn:hover,
    .warning-btn:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fdd626;
        color: white;
        text-decoration: none;
    }

.warning-btn-em {
    width: 33%;
    height:44px;
    background: #fdd626;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align:center;
}

    .warning-btn-em:hover,
    .warning-btn-em:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fdd626;
        color: white;
        text-decoration: none;
    }


.blue-btn-em {
    width: 33%;
    height: 44px;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
}

    .blue-btn-em:hover,
    .blue-btn-em:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fdd626;
        color: white;
        text-decoration: none;
    }

.danger-btn {
    width: 100%;
    background: #fd3d3d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .danger-btn:hover,
    .danger-btn:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fd3d3d;
        color: #fff;
    }

.danger-btn-fixed {
    width: 47%;
    background: #fd3d3d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .danger-btn-fixed:hover,
    .danger-btn-fixed:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fd3d3d;
    }

.danger-btn-em {
    width: 7rem;
    background: #fd3d3d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .danger-btn-fixed:hover,
    .danger-btn-fixed:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #fd3d3d;
    }

.light-btn {
    min-width: 47%;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .light-btn:hover,
    .light-btn:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
    }

.light-btn-7 {
    width: 7rem;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .light-btn-7:hover,
    .light-btn-7:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
    }

.light-btn-full {
    min-width: 100%;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .light-btn-full:hover,
    .light-btn-full:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
    }

.light-btn-25 {
    background: #b3d9ff;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

    .light-btn-25:hover,
    .light-btn-25:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #b3d9ff;
    }


.apply-discount-button {
    background-color: #265F63;
    color: white;
}

.blue-btn-a {
    width: 7rem;
    background: #2098ce;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

    .blue-btn-a:hover,
    .blue-btn-a:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
        text-decoration: none;
        color: white;
    }

.light-btn-a {
    min-width: 47%;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

    .light-btn-a:hover,
    .light-btn-a:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
        text-decoration: none;
        color: white;
    }