@page
@model Spoonful.Pages.Admin.MealManagement.IndexModel
@{
}
<div class="container p-3">  
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary display-4">Menu Item List</h2>
		</div>
	

		<div class="col-6 text-end">
			<a asp-page= "create" class="btn btn-primary">
				<i class="bi-plus-square"></i> &nbsp; Create New Menu Item
			</a>
		</div>

	</div>

	<br/>
	<br/>


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Category
				</th>
				<th>
					Name
				</th>
				<th>
					Description
				</th>
				<th>
					Tags
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Spicy</td>
				<td>Mala Noodle</td>
				<td>Mala noodles cool</td>
				<td>Cool, Yay</td>
			</tr>
		</tbody>

	</table>
</div>
