@page
@model Spoonful.Pages.Admin.MealManagement.ViewMealsModel
@{
}
<div class="row container pb-3">
	<h2 class="text-success p-lg-1 display-4"> <b>The Weekly Menu</b> </h2>

	<div class="col-12">
		<div class="row my-3">

			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
</div>
