@page
@model Spoonful.Pages.CustomerSupport.CreateModel

@{
    ViewData["Title"] = "Feedback Form";
}

<h1>Create</h1>

<h4>Feedbackform</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Feedbackform.Category" class="control-label"></label>
                <select class="form-control" id="cat" name="cat">
                    <option value="Subscription">Subscription</option>
                    <option value="Products and Services">Products and Services</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="Feedbackform.TitleFeedback" class="control-label"></label>
                <input asp-for="Feedbackform.TitleFeedback" class="form-control" />
                <span asp-validation-for="Feedbackform.TitleFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedbackform.MainFeedback" class="control-label"></label>
                <input asp-for="Feedbackform.MainFeedback" class="form-control" />
                <span asp-validation-for="Feedbackform.MainFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
